@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: -webkit-linear-gradient(45deg, #001a4b, #036243);
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h1 {
    font-family: "proxima-nova",sans-serif;
    letter-spacing: -0.01em;
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    margin-left: -3px;
    line-height: 1em;
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
    text-rendering: optimizeLegibility;
}

table {
    width: 80%;
    height: calc(100% - 50px);
    margin: auto;
}

tbody {
    height: 100%;
}

.full {
    height: 95%;
}

.data-table-container {
    height: calc(100% - 100px);
    overflow-y: scroll;
}

table, th, td {
    border: 1px solid #878787;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.table-heading {
    display: inline-flex;
    width: calc(100% - 30px);
    justify-content: space-between;
}

.login h2, p {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.login .login-options {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.login-selection {
    display: grid;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    background: -webkit-linear-gradient(45deg, #036243, #001a4b);
    margin: 20px;
    width: 200px;
}

.login-selection img {
    width: 150px;
}

button {
    border: 2px solid black;
    border-radius: 3px;
    background: -webkit-linear-gradient(45deg, cyan, #04a7a7);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.login-selection button {
    width: 150px;
    padding: 20px;
    margin: 20px 0 20px 0;
}